<div class="calendar ">
    <div class="calendar__container">
        <div class="calendar__item">
            <div>Monday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Tuesday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Wednesday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Thursday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Friday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Saturday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div>Sunday</div>
            <div hx-get="/fragments/v1/calendar/time_slots" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
    </div>
</div>
