<div class="calendar ">
    <div class="calendar__container">
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=monday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=tuesday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=wednesday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=thursday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=friday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=saturday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__item">
            <div hx-get="/fragments/v1/calendar/time_slots?day=sunday" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
    </div>
</div>
