<div>{{day}}</div>
<div class="calendar__time-slots">
    <div class="calendar__time-slots__time">9:00 AM</div>
    <div class="calendar__time-slots__time">10:00 AM</div>
    <div class="calendar__time-slots__time">11:00 AM</div>
    <div class="calendar__time-slots__time">12:00 PM</div>
    <div class="calendar__time-slots__time">1:00 PM</div>
    <div class="calendar__time-slots__time">2:00 PM</div>
    <div class="calendar__time-slots__time">3:00 PM</div>
    <div class="calendar__time-slots__time">4:00 PM</div>
    <div class="calendar__time-slots__time">5:00 PM</div>
</div>