<div class="timetable">
	<div class="timetable__col-time">
		<div class="timetable__header timetable__header-empty"></div>
		<div class="timetable__time">
			{% for time in times %}

			<div class="timetable__col-body">{{time.start_time}}</div>
			{% endfor %}
		</div>
	</div>
	{% for day in days %}
	<div class="timetable__col">

		<div class="timetable__header">{{day.day}}</div>
		{% for time in times %}


		<div class="timetable__col-body"
			hx-get="/fragments/v1/components/timetable/timetable_event?start_time={{day.date}} {{time.start_time}}&end_time={{day.date}} {{time.end_time}}"
			hx-trigger="click" hx-swap="outerHTML"></div>
		{% endfor %}
	</div>
	{% endfor %}
</div>
