body {
    margin: 0;
}

.app {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.app__content {
    flex: 1;
    display: flex;
    flex-direction: row;
}

.app__container {
    flex: 1;
    width: 100%;
    display: flex;
    background-color: green;
}

.sidebar__container {
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.calendar {
    box-shadow: 1px 10px 11px -4px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 10px 11px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 10px 11px -4px rgba(0,0,0,0.75);
    border-radius: 8px ;
    margin: 8px ;
    padding: 4px ;
}

.calendar__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
}

.calendar__nav {
    border: none;
    background: #fff;
    min-width: 60px;
    border-radius: 8px;
}

.calendar__nav:hover {
    cursor: pointer;
    background: #3d60cd;
}

.calendar__title {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.calendar__title-month {
    font-size: 24px;
    padding: 8px;
}
.calendar__title-year {
    font-size: 14px;
    padding: 8px;

}
.calendar__body {
    display: flex;
    flex-direction: row;
}

.calendar__col {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.calendar__col-header {
}

.calendar__col-day {
    background: #fff;
    padding-bottom: 100%;
    border-radius: 8px;

    > div {
        position: absolute;
        padding: 4px;
    }
}

.calendar__col-day:hover {
    background: rgba(39, 39, 191, 0.3);
    cursor: pointer;
}

.calendar__col-other {
    opacity: .6;
    background: #6d6d6d;
}


