<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="/static/dawn-v1.svg">
    <script src="/static/htmx.min.js"></script>
    <link rel="stylesheet" href="/static/index.css">

    <title>{{ title }}</title>
</head>
<body>
<div class="app app__container">
    <div class="app__header">
        <h1 class="app__title">{{ title }}</h1>
    </div>

    <div hx-get="/fragments/v1/calendar/calendar" hx-trigger="load" hx-swap="outerHTML"></div>
</div>
</body>
</html>