<div id="calendar" class="calendar">
    <div class="calendar__header">
        <button class="calendar__nav"
                hx-get="/fragments/v1/components/calendar-v2?month={{prev_month.month}}&year={{prev_month.year}}"
                hx-target="#calendar"
                hx-swap="outerHTML">
            <
        </button>

        <div class="calendar__title">
            <div class="calendar__title-month">
                {{month}}
            </div>
            <div class="calendar__title-year">
                {{year}}
            </div>
        </div>
        <button class="calendar__nav"
                hx-get="/fragments/v1/components/calendar-v2?month={{next_month.month}}&year={{next_month.year}}"
                hx-target="#calendar"
                hx-swap="outerHTML">
            >
        </button>
    </div>
    <div class="calendar__body">
        {% for col in day_cols %}
        <div class="calendar__col">
            <div class="calendar__col-header">{{col[0].week_day}}</div>
            {% for day in col %}
            {% set class_name = "calendar__col-day" %}
            {% if day.month != month %}
            {% set class_name = "calendar__col-day calendar__col-other" %}
            {% endif %}

            <div class="{{class_name}}">
                <div>{{day.day}}</div>
            </div>
            {% endfor %}

        </div>
        {% endfor %}
    </div>
</div>