<div class="calendar">
    <div class="calendar__header"> May 2017</div>
    <div class="calendar__body">
        <div class="calendar__col">
            <div class="calendar__col-header">Sun</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=30&is_month=false" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=8&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=15&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=22&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=28&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Mon</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=1&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=7&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=14&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=21&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=28&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Tues</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=2&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=8&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=15&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=22&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=29&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Wed</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=3&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=9&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=16&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=23&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=30&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Thur</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=4&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=10&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=17&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=24&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=1&is_month=false" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Fri</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=5&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=11&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=18&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=25&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=2&is_month=false" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
        <div class="calendar__col">
            <div class="calendar__col-header">Sat</div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=6&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=12&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=19&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=26&is_month=true" hx-trigger="load" hx-swap="outerHTML"></div>
            <div hx-get="/fragments/v1/components/calendar/calendar_day?day=3&is_month=false" hx-trigger="load" hx-swap="outerHTML"></div>
        </div>
    </div>
</div>